.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.pie-chart {
    width: 250px
}

.users-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.user-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.user-disable {
    opacity: 0.3;
}

.user-color {
    width: 30px;
    height: 30px;
}

.user-login {
    margin-left: 20px;
    font-size: 20px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
}
